<div class="container">
  <div class="login-main col-md-8">
    <form  id="AccessForm" class="ng-pristine ng-valid" #userregister="ngForm">

    <div class="RoundBase RoundPad Corner RoundBaseDone"><div class="RoundWrap content RoundWrapDone login-left-main"><div class="t"></div><div class="Round RoundDone" style="background-color: transparent; padding: 0px; margin: 0px; border: 0px;">
        <table class="Edit" cellspacing="2px">
            <!-- ==================== Title -->
            <tbody><tr class="Title">
                <td colspan="2">
                    Register – Welcome to
                    Innobank Online Banking
                </td>
            </tr>
            <!-- ==================== Field -->
            <tr class="Field">
                <td class="LabelForm">
                    Enter your UID Number:
                </td>
                <td class="Value">
                    <input type="text" id="uidnumber" required name="uidnumber" [(ngModel)]="uidnumber" #uidnumber="ngModel">
                    &nbsp;&nbsp;
                    <div *ngIf="uidnumber.errors && (uidnumber.dirty || uidnumber.touched)" class="alert alert-danger">
                        <div [hidden]="!uidnumber.errors.required">
                            Enter your UID Number
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="Field">
                <td class="LabelForm">
                    Enter Mobile Number :
                </td>
                <td class="Value">
                    <input type="tel" id="mobilenumber" required name="mobilenumber" [(ngModel)]="mobilenumber" #mobilenumber="ngModel" minlength="10" maxlength="10" pattern="/^[0-9]{10,10}$/">
                    &nbsp;&nbsp;
                    <div *ngIf="mobilenumber.errors && (mobilenumber.dirty || mobilenumber.touched)" class="alert alert-danger">
                        <div [hidden]="!mobilenumber.errors.required">
                            Enter your Mobile Number
                        </div>
                        <div [hidden]="!mobilenumber.errors.pattern">
                            Enter Mobile Number Correctly
                        </div>
                        <div [hidden]="!mobilenumber.errors.minlength || !mobilenumber.errors.maxlength">
                            Mobile Number should be 10 digits
                        </div>
                    </div>
                </td>
            </tr>
            <!--<tr *ngIf="validUser" class="Field">
                <td class="LabelForm">
                    Create Password :
                </td>
                <td class="Value">
                    <input autocomplete="off" id="PasswordField" name="PasswordField" type="password" value="" width="160px" tabindex="2">
                    &nbsp;&nbsp;
                    <a href="/User/AccessSigninResetPassword/Reset" tabindex="-1">Forgot Password?</a>
                </td>
            </tr>
            <tr *ngIf="validUser" class="Field">
                <td class="LabelForm">
                    Confirm Password :
                </td>
                <td class="Value">
                    <input autocomplete="off" id="PasswordField" name="PasswordField" type="password" value="" width="160px" tabindex="2">
                    &nbsp;&nbsp;
                    <a href="/User/AccessSigninResetPassword/Reset" tabindex="-1">Forgot Password?</a>
                </td>
            </tr>-->
            <!-- ==================== Action -->
            <tr class="Action">
                <td class="Label">
                </td>
                <td class="Value">
                    <input id="SubmitNext" name="SubmitNext" type="submit" value="Submit" (click) = "checkDetails($event)" (ngSubmit)="onSubmit()" tabindex="3" class="Boot" autocomplete="off">
                    <input id="SubmitCancel" name="SubmitCancel" type="submit" value="Cancel" tabindex="4" class="Boot" autocomplete="off">
                       
                </td>
            </tr>
          
            <tr class="Field">
                <td class="LabelForm">
                </td>
                <td class="Value">
                    For security reasons, never share your username, password, social security number, account number or other private data online, unless you are certain who you are providing that information to, and only share information through a secure webpage or site.
					
				</td>
            </tr>
        </tbody></table>
    </div></div><div class="b"><div></div></div></div>
    </form>
    
  </div>


</div>